<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" href="../../static/admin/css/login.css">
    <title>登录</title>
</head>
<body>
    <div class="login">
        <div class="container">
            <div class="header">
                <img src="../../static/admin/images/logo.jpg" alt="">
                <div class="header-font">
                    <p>电科院</p>
                </div>
            </div>
            <div class="content">
                <div class="login-img">
                    <img src="../../static/admin/images/login.png" alt="">
                </div>
                <div class="login-form">
                    <h3>
                        <span class="checked">账号登录</span>
                        <span class="line">|</span>
                        <span>启动程序</span>
                    </h3>
                    <div class="input">
                        <input type="text" class="username" placeholder="请输入账号">
                    </div>
                    <div class="input">
                        <input type="password" class="password" placeholder="请输入密码">
                    </div>
                    <div class="btn-box">
                        <a href="javascript:;" class="btn" id="login" onclick="login()">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../../static/admin/lib/jquery/dist/jquery.min.js"></script>
<script src="../../static/admin/js/login.js"></script>
</body>
</html>