<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="../../static/adindex/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/adindex/css/public.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn" id="btn-fold">全部折叠</button>
            </div>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>

<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="stop">停止</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="start">启动</a>
</script>

<script src="../../static/admin/lib/jquery/dist/jquery.min.js"></script>
<script src="../../static/adindex/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script src="../../static/adindex/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<!-- <script src="../../static/adindex/js/vrtrain.js" charset="utf-8"></script> -->
<script>
    // let i = $(".val").html();
    // console.log(i);
    // window.onload = () => {

    // }
    layui.use(['table', 'treetable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;

        // 渲染表格
        layer.load(2);
        treetable.render({
            treeColIndex: 1,
            treeSpid: -1,
            treeIdName: 'authorityId',
            treePidName: 'parentId',
            elem: '#munu-table',
            // data: i,
            // data:[{"classid":1,"stime":1,"time":1619592711,"pass":0,"erroroptnum":59,"authorityId":1,"parentId":-1,"menuIcon":"layui-icon-set"},{"classid":2,"stime":1619589461,"time":0,"pass":0,"erroroptnum":0,"authorityId":1,"parentId":-1,"menuIcon":"layui-icon-set"}],
            url: 'getall',
            page: false,
            cols: [[
                {type: 'numbers'},
                {field: 'ip', minWidth: 200, title: '设备IP'},
                {templet: '#auth-state', width: 120, align: 'center', title: '操作'}
                
            ]],
            done: function () {
                layer.closeAll('loading');
            }
        });

        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });

        //监听工具条
        table.on('tool(munu-table)', function (obj) {
            var dataa = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'start') {
                
                // let username = session(config("admin.session_user"));
                
                $.post("checkip",{
                    ip:dataa.ip
                },(data,status) => {
                    if(data.status == 1){
                        layer.msg('启动设备' + dataa.ip);
                        console.log(data);
                        // let ws = new WebSocket("ws://" + dataa.ip + ":2345");
                        // // console.log(data.token);
                        // let temp = {
                        //     'username':dataa.username,
                        //     'token':dataa.token
                        // };
                        // ws.onopen = function(){
                        // 　　//当WebSocket创建成功时，触发onopen事件
                        //     temp = JSON.stringify(temp);
                        // 　　ws.send(temp); //将消息发送到服务端
                        // }
                    } else {
                        // console.log(data);
                        layer.msg('已被占用' + dataa.ip);
                        return false;
                    }
                });
                
            } else if (layEvent === 'stop') {
                layer.msg('关闭设备' + dataa.ip);
            }
        });
    });
</script>
</body>
</html>