<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="../../static/adindex/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/adindex/css/public.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn" id="btn-fold">全部折叠</button>
            </div>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>

<!-- 操作列 -->
<!-- <script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script> -->
<script src="../../static/admin/lib/jquery/dist/jquery.min.js"></script>
<script src="../../static/adindex/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script src="../../static/adindex/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<!-- <script src="../../static/adindex/js/vrtrain.js" charset="utf-8"></script> -->
<script>
    // let i = $(".val").html();
    // console.log(i);
    // window.onload = () => {

    // }
    layui.use(['table', 'treetable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;

        // 渲染表格
        layer.load(2);
        treetable.render({
            treeColIndex: 1,
            treeSpid: -1,
            treeIdName: 'authorityId',
            treePidName: 'parentId',
            elem: '#munu-table',
            // data: i,
            // data:[{"classid":1,"stime":1,"time":1619592711,"pass":0,"erroroptnum":59,"authorityId":1,"parentId":-1,"menuIcon":"layui-icon-set"},{"classid":2,"stime":1619589461,"time":0,"pass":0,"erroroptnum":0,"authorityId":1,"parentId":-1,"menuIcon":"layui-icon-set"}],
            url: 'vrExamList',
            page: false,
            cols: [[
                {type: 'numbers'},
                {field: 'classid', minWidth: 200, title: '考核科目名称'},
                {field: 'stime', title: '开始时间', align: 'center'},
                {field: 'etime', align: 'center', title: '结束时间'},
                {field: 'time', title: '考核用时', align: 'center'},
                {field: 'pass', width: 120, align: 'center', title: '是否通过'}
            ]],
            done: function () {
                layer.closeAll('loading');
            }
        });

        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });

        // //监听工具条
        // table.on('tool(munu-table)', function (obj) {
        //     var data = obj.data;
        //     var layEvent = obj.event;

        //     if (layEvent === 'del') {
        //         layer.msg('删除' + data.id);
        //     } else if (layEvent === 'edit') {
        //         layer.msg('修改' + data.id);
        //     }
        // });
    });
</script>
</body>
</html>